<h1>Beers</h1>
<div class="filters-container">
  <div class="filter">
    <div class="filter-name">Style</div>
    <i class="fa fa-chevron-down filter-arrow"></i>
    <div class="filter-content">
      {{#if (is-pending beerStylesQuery)}}
        <img src="/assets/images/loader.gif">
      {{else}} 
        {{multiselect-checkboxes
          options=beerStyles
          labelProperty='name'
          selection=styleFilters
        }}
      {{/if}}
    </div>
  </div>
  <div class="filter">
    <div class="filter-name">Tag</div>
    <i class="fa fa-chevron-down filter-arrow"></i>
    <div class="filter-content">
      {{#if (is-pending beerTagsQuery)}}
        <img src="/assets/images/loader.gif">
      {{else}}
        {{multiselect-checkboxes
          options=beerTags
          labelProperty='name'
          selection=tagFilters
        }}
      {{/if}}
    </div>
  </div>
  <div class="filter-header">Filter by:</div>
</div>
{{#if (is-pending beersQuery)}}
  <img src="/assets/images/loader.gif">
{{else}}
  {{#bp-table items=beers as |beer|}}
    {{#bp-beer-card
      beerId=beer.id
      title=beer.name
      style=beer.style.name
      breweries=(array-join beer.breweries)
      ibu=beer.ibu
      alcool=beer.alcoholPercent
      rating=beer.rating
      description=beer.description
      imagePath=beer.imagePath
      link="beers/show"}}
    {{/bp-beer-card}}
  {{/bp-table}}
{{/if}}
