<h1>Beers</h1>
{{#if showAddBeer}}
  {{#modal-dialog translucentOverlay=true
                  onClose="toggleAddBeerModal"}}
    {{bp-add-beer beerStyles=beerStyles onAddBeer=(action 'onAddBeer')}}
  {{/modal-dialog}}
{{/if}}
<div class="actions-container">
  {{bp-filter
    selected=tagFilters
    filterOptions=beerTags
    filterName="Tags"
    onFilterChange=(action "onTagFilterChange")
    query=beerTagsQuery
  }}
  {{bp-filter
    selected=styleFilters
    filterOptions=beerStyles
    filterName="Styles"
    onFilterChange=(action "onStyleFilterChange")
    query=beerStylesQuery
  }}
  <button class="add-beer" onclick={{action 'toggleAddBeerModal'}}>Add a beer</button>
</div>
{{#if (is-pending beersQuery)}}
  {{bp-loading}}
{{else}}
  {{#bp-table items=beers as |beer|}}
    {{#bp-beer-card
      beerId=beer.id
      title=beer.name
      style=beer.style.name
      breweries=(array-join beer.breweries)
      ibu=beer.ibu
      alcool=beer.alcoholPercent
      rating=beer.rating
      description=beer.description
      imagePath=beer.imagePath
      link="beers/show"}}
    {{/bp-beer-card}}
  {{/bp-table}}
{{/if}}
