<h1>Beers</h1>
<button class="add-beer" onclick={{action 'toggleAddBeerModal'}}>Add a beer</button>
{{#if showAddBeer}}
  {{#modal-dialog translucentOverlay=true
                  onClose="toggleAddBeerModal"}}
    {{bp-add-beer beerStyles=beerStyles onAddBeer=(action 'onAddBeer')}}
  {{/modal-dialog}}
{{/if}}
<div class="filters-container">
  <div class="filter">
    <div class="filter-name">Style</div>
    <i class="fa fa-chevron-down filter-arrow"></i>
    <div class="filter-content">
      {{#if (is-pending beerStylesQuery)}}
        {{bp-loading}}
      {{else}}
        {{multiselect-checkboxes
          options=beerStyles
          labelProperty='name'
          selection=styleFilters
        }}
      {{/if}}
    </div>
  </div>
  <div class="filter">
    <div class="filter-name">Tag</div>
    <i class="fa fa-chevron-down filter-arrow"></i>
    <div class="filter-content">
      {{#if (is-pending beerTagsQuery)}}
        {{bp-loading}}
      {{else}}
        {{multiselect-checkboxes
          options=beerTags
          labelProperty='name'
          selection=tagFilters
        }}
      {{/if}}
    </div>
  </div>
  <div class="filter-header">Filter by:</div>
</div>
{{#if (is-pending beersQuery)}}
  {{bp-loading}}
{{else}}
  {{#bp-table items=beers as |beer|}}
    {{#bp-beer-card
      beerId=beer.id
      title=beer.name
      style=beer.style.name
      breweries=(array-join beer.breweries)
      ibu=beer.ibu
      alcool=beer.alcoholPercent
      rating=beer.rating
      description=beer.description
      imagePath=beer.imagePath
      link="beers/show"}}
    {{/bp-beer-card}}
  {{/bp-table}}
{{/if}}
