<h1>Beers</h1>
<button class="add-beer" onclick={{action 'toggleAddBeerModal'}}>Add a beer</button>
{{#if showAddBeer}}
  {{#modal-dialog translucentOverlay=true
                  onClose="toggleAddBeerModal"}}
    {{bp-add-beer beerStyles=beerStyles onAddBeer=(action 'toggleAddBeerModal')}}
  {{/modal-dialog}}
{{/if}}
<div class="filters">
  <h2>Filters</h2>
  <h3>Styles</h3>
  {{#if (is-pending beerStylesQuery)}}
    {{bp-loading}}
  {{else}}
    {{multiselect-checkboxes
      options=beerStyles
      labelProperty='name'
      selection=styleFilters
    }}
  {{/if}}
  <h3>Tags</h3>
  {{#if (is-pending beerTagsQuery)}}
    {{bp-loading}}
  {{else}}
    {{multiselect-checkboxes
      options=beerTags
      labelProperty='name'
      selection=tagFilters
    }}
  {{/if}}
</div>
{{#if (is-pending beersQuery)}}
  {{bp-loading}}
{{else}}
  {{#bp-table items=beers as |beer|}}
    {{#bp-beer-card
      beerId=beer.id
      title=beer.name
      style=beer.style.name
      breweries=(array-join beer.breweries)
      ibu=beer.ibu
      alcool=beer.alcoholPercent
      rating=beer.rating
      description=beer.description
      imagePath=beer.imagePath
      link="beers/show"}}
    {{/bp-beer-card}}
  {{/bp-table}}
{{/if}}
