<h1>Breweries</h1>
{{#if showAddBrewery}}
  {{#modal-dialog translucentOverlay=true
                  onClose="toggleAddBreweryModal"}}
    {{bp-add-brewery onAddBrewery=(action 'onAddBrewery')}}
  {{/modal-dialog}}
{{/if}}
<div class="actions-container">
  <div class="filter">
    <div class="filter-name">Tag</div>
    <i class="fa fa-chevron-down filter-arrow"></i>
    <div class="filter-content">
      {{#if (is-pending breweriesTagsQuery)}}
        {{bp-loading}}
      {{else}}
        {{multiselect-checkboxes
          options=breweriesTags
          labelProperty='name'
          selection=tagFilters
        }}
      {{/if}}
    </div>
  </div>
  <div class="filter-header">Filter by:</div>
  <button class="add-brewery" onclick={{action 'toggleAddBreweryModal'}}>Add a brewery</button>
</div>
{{#if (is-pending breweriesQuery)}}
  {{bp-loading}}
{{else}}
  {{#bp-table items=breweries as |brewery|}}
    {{#bp-brewery-card
      title=brewery.name
      breweryId=brewery.id
      type=(concat "#" brewery.tags.0.name)
      rating=brewery.rating
      description=brewery.description
      imagePath=brewery.imagePath
      link="breweries/show"}}
    {{/bp-brewery-card}}
  {{/bp-table}}
{{/if}}
