<div class="column">
  {{bp-display
    imagePath=beer.imagePath
    backupImagePath="/assets/images/default-beer-image.jpg"
    name=beer.name
    tags=beer.tags
    description=beer.description
    items=beer.breweries
  }}
</div>
<div class="column">
  <div class="beer-numerical-info">
    <div class="rating">
      <div class="stars">{{bp-stars-display rating=beer.rating}}</div>
      <p><span class="info-highlighted-text">{{round-rating beer.rating}}</span>/5 (X reviews)</p>
    </div>
    <div class="item ibu">
      <p>IBU: <span class="info-highlighted-text">{{beer.ibu}}</span></p>
    </div>
    <div class="item percent">
      <p>%: <span class="info-highlighted-text">{{beer.alcoholPercent}}%</span></p>
    </div>
  </div>
</div>
