<div class="beer-page">
  <div class="column">
    <div class="beer-header">
      <img class="beer-logo" src="{{beer.imagePath}}" alt="image did not load" onerror='this.onerror=null; this.src="https://i.imgur.com/xG41sKc.jpg"'>
      <div class="beer-textual-info">
        <h2 class="beer-name">{{beer.name}}</h2>
        <p class="beer-type-breweries">
          Piss water |
          {{#each beer.breweries as |brewery|}}
            {{brewery.name}}
          {{/each}}
        </p>
        <p class="beer-description">
          {{beer.description}}
        </p>
      </div>
    </div>
    <div class="beer-reviews">
      <h2>Recent reviews</h2>
      <div class="reviews">
        Reviews go here
      </div>
    </div>
  </div>
  <div class="column">
    <div class="beer-numerical-info">
      <div class="item rating">
        <div class="stars">{{bp-stars-display rating=beer.rating}}</div>
        <p><span class="info-highlighted-text">{{round-rating beer.rating}}</span>/5 (X reviews)</p>
      </div>
      <div class="item ibu">
        <p>IBU: <span class="info-highlighted-text">{{beer.ibu}}</span></p>
      </div>
      <div class="item percent">
        <p>%: <span class="info-highlighted-text">{{beer.alcoholPercent}}%</span></p>
      </div>
    </div>
  </div>
</div>
