<div class="add-beer-form">
  <h2>Add a beer</h2>
  {{input type="text" name="beer-name" value=name placeholder="Name"}}
  {{textarea type="text" name="beer-description" value=description placeholder="Description"}}
  {{input type="text" name="beer-image-path" value=imagePath placeholder="Image path"}}
  <div class="aside">
    {{input type="number" name="beer-ibu" value=ibu placeholder="IBU"}}
    {{input type="number" name="beer-alcohol-percent" value=alcoholPercent placeholder="Alcohol by volume (%)"}}
  </div>
</div>
  {{#if (is-pending breweriesQuery)}}
  {{else}}
    {{#power-select-multiple
      selected=selectedBreweries
      options=breweries
      placeholder="Breweries"
      onchange=(action "updateBreweriesValues") as |brewery|
    }}
      {{brewery.name}}
    {{/power-select-multiple}}
  {{/if}}
<div class="add-beer-form">
  {{input type="text" name="beer-tags" value=tags placeholder="Tags"}}
  <div class="aside">
    {{input type="number" name="beer-rating" value=rating placeholder="Your rating (/5)"}}
    {{#power-select
      selected=selectedStyle
      options=beerStyles
      placeholder="Style"
      searchField="name"
      onchange=(action "updateStyleValue") as |beerStyle|
    }}
      {{beerStyle.name}}
    {{/power-select}}
  </div>
  <div class="button-container">
    <button class="add-beer-button" onclick={{action 'addBeer'}}>Add beer</button>
  </div>
</div>
