{{#validated-form model=(changeset model BeerValidations) on-submit=(action "addBeer") as |f|}}
  <div class="add-beer-form">
    <h2>Add a beer</h2>
    {{f.input label='Name' type="text" name="beerName" placeholder="Name" required=true}}
    {{f.input label='Description' type="textarea" name="beerDescription" placeholder="Description" required=true}}
    {{f.input label='Image path' type="text" name="beerImagePath" placeholder="Image path" required=true}}
    <div class="inline">
      {{f.input label='IBU' type="text" name="beerIbu" placeholder="IBU" required=true}}
      {{f.input label='Alcohol (%)' type="text" name="beerAlcoholPercent" placeholder="Alcohol (%)" required=true}}
    </div>
    {{#if (is-pending breweriesQuery)}}
    {{else}}
      {{#f.input label="Brewery(ies)" class="breweries" name="beerBreweries" required=true as |fi|}}
        {{#power-select-multiple
          selected=fi.value
          options=breweries
          placeholder="Breweries"
          onchange=fi.update as |brewery|
        }}
          {{brewery.name}}
        {{/power-select-multiple}}
      {{/f.input}}
    {{/if}}
    {{f.input label='Tags' type="text" name="beerTags" placeholder="Tags" required=true}}
    {{#f.input label="Style" name="beerStyle" required=true as |fi|}}
      {{#power-select
        selected=fi.value
        options=beerStyles
        placeholder="Style"
        allowClear=true
        searchField="name"
        onchange=fi.update as |beerStyle|
      }}
        {{beerStyle.name}}
      {{/power-select}}
    {{/f.input}}
    {{f.submit class="add-beer-button" label="Add beer"}}
  </div>
{{/validated-form}}
