{{#validated-form model=(changeset model ReviewValidations) on-submit=(action "addReview") as |f|}}
  <div class="add-review-form">
    <h2>Add a review</h2>
    {{f.input label="Title" type="text" class="title" name="reviewTitle" placeholder="Title" required=true}}
    {{#f.input label="Rating" name="reviewRating" as |fi|}}
      <div class="rating">
        {{bp-stars-select onStarClick=fi.update}}
      </div>
    {{/f.input}}
    {{f.input label="Content" type="textarea" name="reviewContent" placeholder="Content" required=true}}
    {{f.input label="Image path" type="text" name="reviewImagePath" placeholder="Image path"}}
    {{f.submit class="add-review" label="Add review"}}
  </div>
{{/validated-form}}
