<div class="header">
  <div class="title">
    <h3>{{review.title}}</h3>
    {{bp-stars-display rating=review.rating}}
  </div>
  <div class="infos">
    by {{#link-to "profile/show" review.user.cip}}
        {{review.user.name}}
       {{/link-to}}
    on {{moment-calendar review.time "days"}}
    {{bp-thumbsup count=thumbsupCount liked=liked}}
  </div>
</div>
<div class="content">
  <p>
    {{review.content}}
  </p>
  {{#if review.imagePath}}
    <img class="display-image" src="{{review.imagePath}}" alt="Image did not load" onerror="this.style.display='none'">
  {{/if}}
</div>
<div class="actions">
  <p class="action" onclick={{perform toggleLike}}>{{if liked "Unlike"}}{{unless liked "Like"}}</p>
  <p class="action" onclick={{action 'showAddComment'}}>Comment</p>
</div>
{{#if displayAddComment}}
  {{#if review.idBeerReview}}
    {{bp-add-review-comment type=type id=review.idBeerReview onAddComment=(action 'refetchComments')}}
  {{else}}
    {{bp-add-review-comment type=type id=review.idBreweryReview onAddComment=(action 'refetchComments')}}
  {{/if}}
{{/if}}
{{#if (is-pending commentsQuery)}}
  {{bp-loading}}
{{else}}
  {{#if comments.length}}
    {{#each comments as |comment|}}
      {{bp-review-comment comment=comment}}
    {{/each}}
  {{/if}}
{{/if}}
