<div class="header">
  <div class="title">
    <h3>{{review.title}} {{bp-stars-display rating=review.rating}}</h3>
  </div>
  <div class="infos">
    by {{review.user.name}} on {{moment-calendar review.time 'days'}}
  </div>
</div>
<div class="content">
  <p>
    {{review.content}}
  </p>
  {{#if review.imagePath}}
    <img class="display-image" src="{{review.imagePath}}" alt="Image did not load" onerror="this.style.display='none'">
  {{/if}}
</div>
{{#if comments.length}}
  {{#each comments as |comment|}}
    {{bp-review-comment comment=comment}}
  {{/each}}
{{/if}}
